body {
  font-family: "Roboto Mono", serif;
  /* background-color: #fafafa; */
  background-color: #a5cde8;
}

p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-transform: uppercase;
}

.ext-link {
  display: inline-block;
}

.header {
  border-bottom: 1px solid;
  margin-top: 2rem;
  margin: 2rem 2rem 0;
  padding-bottom: 1.5rem;
}

.main-con {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2rem;
}

.about-con {
  border-right: 1px solid;
  padding-right: 1rem;
  padding-bottom: 14rem;
}

.about-main {
  margin-top: 1rem;
}

.projects-con {
  flex-grow: 1.5;
}

.projects-heading {
  margin-left: 1rem;
  margin-top: 1rem;
}

.projects-main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.project-box {
  /* background-color: #fafafa;
   */
   background-color: #a5cde8;
  /* border: 1px solid; */
  /* text-align: center; */
  height: 25em;
  width: 15em;
  margin: 1rem;
  margin-left: 2rem;
}

.stack {
  background-color: #636669;
  color: #fafafa;
  border-radius: 1.75px;
  padding: 1px;
}

.project-img {
  display: block;
  max-width: 240px;
  max-height: 220px;
  width: auto;
  height: auto;
  border: 1px solid;
}

.js-dev {
  font-family: "Alegreya", serif;
}

.lab {
  color: #636669;
  text-decoration: none;
}

.lab:hover {
  color: #212529;
  text-decoration: none;
}

.main-stack {
  margin-top: 2rem;
}

@media only screen and (max-width: 1503px) {
  .projects-heading {
    margin-left: 0;
  }
  /* .project-box {
    margin-left: 0;
  } */
  .header {
    margin-top: 0rem;
  }
  .about-con {
    border-right: 0;
    border-bottom: 1px solid;
    width: 100%;
    margin-right: 2rem;
    padding-bottom: 1rem;
  }
  .main-stack {
    margin-top: 1rem;
  }
}

li {
  padding: 0,
  margin: 0
}